.home-bg{
    /* background-color: #faf9e5; */
    background: linear-gradient(0deg, rgba(240,105,103,0.1) 0%, rgba(254,235,132,0.2) 100%);
}

.share-button{
    position: fixed;
    bottom:5%;
    right: 4%;
    z-index: 2;
}

.flip-countdown-title{
    font-size: 45px;
    font-family: 'Montserrat ', sans-serif;
    font-weight: bolder;
  }
  
  
  .flip-countdown-title{
    color: #801743 !important;
  }
  @media (max-width:769px){
    .flip-countdown-title{
      font-size: 30px;
      font-weight: bold;
    }
    .flip-countdown .flip-countdown-piece {
      margin: 0 0.4em !important ;
    }
  
  }
  @media (max-width:426px){
    .flip-countdown-title{
      font-size:17px;
      font-weight: bold;
    }
    .flip-countdown .flip-countdown-piece {
      margin: 0 0.3em !important ;
    }
  }
  @media (max-width:320px){
    .flip-countdown-title{
      font-size: 18px;
      font-weight: bold;
    }
    .flip-countdown .flip-countdown-piece {
      margin: 0 0.2em !important ;
    }
  }