
.flip-countdown-body{
  font-family:Arial, sans-serif;
}
.flip-countdown-title{
  font-size: 45px;
  font-family: 'Montserrat ', sans-serif;
  font-weight: bolder;
}


.flip-countdown-title{
  color: #801743 !important;
}
@media (max-width:2560px){
  .flip-countdown .flip-countdown-piece {
    margin: 0 1.5em !important ;
  }
}
@media (max-width:1440px){
  .flip-countdown .flip-countdown-piece {
    margin: 0 1em !important ;
  }
}
@media (max-width:1024px){
  .flip-countdown-title{
    font-size: 30px;
  }
  .flip-countdown .flip-countdown-piece {
    margin: 0 0.6em !important ;
  }
}
@media (max-width:768px){
  .flip-countdown-title{
    font-size: 25px;
    font-weight: bold;
  }
  .flip-countdown .flip-countdown-piece {
    margin: 0 0.4em !important ;
  }

}
@media (max-width:426px){
  .flip-countdown-title{
    font-size:20px;
    font-weight: bold;
  }
  .flip-countdown .flip-countdown-piece {
    margin: 0 0.3em !important ;
  }
}
@media (max-width:320px){
  .flip-countdown-title{
    font-size: 18px;
    font-weight: bold;
  }
  .flip-countdown .flip-countdown-piece {
    margin: 0 0.2em !important ;
  }
}