.main-banner {
  background-image: url("../../../Assets/img/images/h-b-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headerImg {
  margin: 10px 0;
}
@media (max-width: 620px) {
  .main-banner img {
    width: 90%;
  }
}
