.main-banner {
  background-image: url("../../../Assets/img/images/h-b-img.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: left;
   height: "100%";
    width: "100%" ;
}
.headerImg {
  margin: 10px 0;
}
@media (max-width:426px){
  .main-banner  {
    width: 100%;
    height: 80vh;
  }
  .main-banner img{
    width: 90%;
  }
}
/* @media (max-width: 620px) {
  .main-banner img {
    width: 60%;
  }
} */
